# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-preview
dist-ssr
*.local

.parcel-cache

log.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

package-lock.json

/data
/letsencrypt

# Added by cargo

/api/target

frontend/pnpm-lock.yaml
frontend/playwright-report/
