version: "3"
volumes:
  surveys:
    driver: local
services:
  nginxmanager:
    restart: on-failure
    image: "jc21/nginx-proxy-manager:latest"
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - generator_network
  web:
    restart: on-failure
    build: ./frontend
    ports:
      - "8080:3000"
    networks:
      - generator_network
  api:
    restart: on-failure
    build: ./server
    ports:
      - "3000:3000"
    volumes:
      - surveys:/usr/src/app/surveys
    networks:
      - generator_network
  redcap:
    restart: on-failure
    build: ./redcap
    volumes:
      - ./frontend:/frontend
    ports:
      - "5000:5000"
    networks:
      - generator_network

networks:
  generator_network:
    driver: host
    external: true
