version: "3.7"

services:
  caddy:
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    ports:
      - 80:80
      - 443:443
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    networks:
      - caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
    restart: unless-stopped
  api:
    build: ./api
    volumes:
      - ./api:/usr/src/api
    restart: unless-stopped
    networks:
      - caddy
    labels:
      caddy: make.momentumresearch.eu tuspl22-momentum.srv.mwn.de
      caddy.handle_path: /api/*
      caddy.handle_path.0_rewrite: "* /api{uri}"
      caddy.handle_path.1_reverse_proxy: "{{upstreams 8000}}"
  web:
    restart: unless-stopped
    build: ./frontend
    networks:
      - caddy
    ports:
      - 3000:3000
    labels:
      caddy: make.momentumresearch.eu tuspl22-momentum.srv.mwn.de
      caddy.handle_path: /*
      caddy.handle_path.0_reverse_proxy: "{{upstreams 3000}}"

volumes:
  caddy_data:

networks:
  caddy:
    external: true
