version: "3"
services:
  nginxmanager:
    image: "jc21/nginx-proxy-manager:latest"
    restart: unless-stopped
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
  redbot:
    container_name: redbot
    build: .
    volumes:
      - redbot:/data
    ports:
      - 1880:1880

volumes:
  redbot:
